* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContent-container {
  display: flex;
  flex-basis: 0;
  justify-content: space-between;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid rgb(160, 201, 47);
  width: 85%;
}
